.rankings{
    width: 432px;
    height: 1080px;
    border-right: 4px solid rgb(255, 186, 0);
    display: flex;
    flex-direction: column;
}

.head {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 186, 0);
    font-size: 56px;
}
.head_data{
    background: linear-gradient( 0deg, rgb(54,1,161) 0%, rgb(107,52,219) 100%);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.head_data_rank{
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.head_data_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 325px;

}
.team_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
