.table {
    width: 874px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 608px;
}
.tableHead {
    margin-left: 536px;   
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: space-between;

}
.head_block{
  background-color: rgb(255, 186, 0);
  width: 109px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tableBody{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}