.overallTable{
    width: 1490px;
    margin: auto;
}

.tableHead{
    margin-left: 506px;
    display: flex;
    justify-content: space-between;
}
.table_head_data {
    height :40px;
    width:195px;
    background-color: #ffba00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tableBody{
    height: 795px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}